.chats {

    max-width: 700px;
    overflow: scroll;
    padding: 8rem;;

}
/* .chats{
    max-width: 700px;
    height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1rem;
} */

/* ScrollDown Effect - */

.chats::-webkit-scrollbar{
    width: 6px;
}

.chats::-webkit-scrollbar-track{
    background: transparent;
}

.chats::-webkit-scrollbar-thumb{
    background: #555;
    border-radius: 5px;
}

.chats::-webkit-scrollbar-thumb:hover{
    background: #777;
}

.userDiv {
     
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv {

    text-align: left;
    font-size: 0.9rem;
}

.userMessage {

    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fix-content;
}

.hljs {

    border-radius: 14px !important;

}
pre {

    white-space: pre-wrap ;
}